.statCont {
   width: 20%;
   height: 100%;
}

.stateContainer {
   margin-top: 10%;
   padding-inline: 5%;
}

.statitem {
   margin-top: 10px;
   background-color: rgba(255, 255, 255, 0.871);
   padding: 5px;
   font-size: 1.5rem;
   font-family: 'Times New Roman', Times, serif;
   border-radius: 4px;
}

.statitem article header {
   background: none;
   background-color: mintcream;
}

@media screen and (max-width: 500px) {

   .statCont {
      width: 40%;
      height: 100%;
  
   }
   
   .stateContainer {
      margin-top: 10%;
      padding-inline: 5%;
   }

   .statitem {
      margin-top: 10px;
      background-color: rgba(255, 251, 251, 0.871);
      padding: 5px;
      font-size: 1.5rem;
      font-family: 'Times New Roman', Times, serif;
      border-radius: 4px;
   }

   .statitem article header {
      background: none;
      background-color: mintcream;
   }

}